html, body{
    margin: 0;
    padding: 0;
    background: black;
    color: white;
}

header {
    width: calc(100% - 40px);
    height: 70px;
    background: #351801;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}

.logotipo {
    width: 200px;
    height: 45px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: Helvetica, Arial, sans-serif;
}

.logotipo img {
    width: 45px;
    height: 45px;
}

.logotipo h1{
    margin: 9px 0 0 0;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
}

main {
    min-height: calc(100vh - 307px);
    padding: 16px;
}

footer {
    background: #351801;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}