html, body{
    margin: 0;
    padding: 0;
    background: rgb(43, 42, 42);
    color: white;
    font-size: 1.1rem;
}

body > header {
    width: calc(100% - 40px);
    height: 70px;
    background: #351801;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}

body > header nav a{
    color: #fff;
    padding: 0 0 5px 0;
    text-decoration: none;
}

body > header nav a:visited{
    color: gray;
}

body > header nav a:hover{
    color: rgb(117, 184, 17);
    border-bottom: 3px solid rgb(117, 184, 17);
}

body > header nav a.active{
    color: rgb(95, 150, 12);
    border-bottom: 3px outset rgb(95, 150, 12);
}

.logotipo {
    width: 200px;
    height: 45px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: Helvetica, Arial, sans-serif;
}

.logotipo img {
    width: 45px;
    height: 45px;
}

.logotipo h1{
    margin: 9px 0 0 0;
}

.logotipo h1 span.if{
    color: rgb(117, 184, 17);
}

@media (width <= 300px) {
    .logotipo h1 span.name{
        display: none;
    }
}

nav ul{
    list-style: none;
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
}

body > main {
    min-height: calc(100vh - 307px);
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

body > footer {
    background: #351801;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-ticker{
    width: 280px;
    height: fit-content;
    background: #351801;
    border-radius: 20px;
    padding: 12px;
}

.card-ticker header{
    display: flex;
    justify-content: space-between;
}

.card-ticker header h2 {
    margin: 0;
    font-size: 16px;
}

.card-ticker header h2 span {
    font-weight: normal;
    color: rgb(211, 199, 31);
}

.card-ticker header h1 {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
}

.card-ticker main p {
    font-size: 32px;
    margin: 28px 0 2px 0;
}

.card-ticker main span {
    color: #cfb5b5;
}

.card-ticker main span:nth-child(2) {
    background: green;
    padding: 3px 16px;
    margin: 0 8px 0 0;
    border-radius: 17px;
    font-size: 14px;
    color: #fff;
}

.card-ticker footer {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 0 0;
}
.card-ticker footer div:nth-child(2) { 
    text-align: right;
}

.card-ticker footer div p {
    margin: 0;
    font-size: 18px;
    margin-top: 42px;
}

.card-ticker footer div span {
    font-size: 14px;
    color: #cfb5b5;
}

table {
    border-collapse: collapse;
}

th, td{
    border: 1px solid white;
    text-align: left;
    color: white;
    padding: 8px;
}

tr:nth-child(even) {
    background: #333333;
}

tr:nth-child(odd) {
    background: #1e1e1e;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

fieldset {
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 15px;
    margin: 0 0 30px 0;
}

fieldset h5 {
    font-size: 1.1rem;
}

.field {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.termo{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    width: 700px;
}

legend {
    font-size: 1.2em;
    padding: 0 10px 5px 10px;
}

input[type=text], input[type=email], input[type=password], textarea, select {
    padding: 5px 5px;
    border-radius: 10px;
    font-size: 18px;
    margin: 3px 0 16px 0;
    border: none;
    background: #111;
    color: #fff;
}

input[type=submit] {
    border: 1px solid #ac3c00;
    color: #fff;
    border-radius: 30px;
    padding: 10px 20px;
    background: #ac3c00;
    font-size: 1.1rem;
    margin: 16px 16px 16px 0;
    cursor: pointer;
}

input[type=submit]:hover {
    background: #ff5900;
}

input[type=submit]:active {
    background: #cf4900;
}

#banner {
    width: 500px;
    height: 300px;
    /*background: #111;
    background-image: url('../img/bg.jfif');
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-position: right bottom;*/
    background: #333333 url('../img/bg.jfif');
    background-size: cover;
}

#banner h2 {
    margin: 40px 0 0 40px;
}

nav div{
    display: none;
}

button{
    background: #057416;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#addCardModal {
    position: absolute;
    background: #000000ca;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

#addCardModal main{
    width: 440px;
    height: 740px;
    background: #666464;
    border-radius: 15px;
    padding: 20px;
    color: black;
}

#addCardModal h2 {
    margin: 0;
}

#addCardModal form {
    flex-direction: column;
}

#addCardModal form fieldset{
    width: 350px;
}

@media (width <= 674px) {
    nav ul {
        display: none;
    }

    nav div{
        display: block;
    }
    
}

@media (457px <= width <= 656px) {
    .card-ticker{
        width: 220px;
    }

    body > main {
        justify-content: space-around;
    }
}

@media (width <= 535px) {
    .card-ticker{
        width: 180px;
    }
}

@media (width <= 456px) {
    .card-ticker {
        width: 80%;
    }

    body > main {
        justify-content: center;
    }
}